.header{
  position: fixed;
  top: 0;
  background-color: purple;
  height: 50px; 
  padding-left: 25px;
  padding-top: 8px;
  width: 100%; 
}
#menudoboz{
   display: flex;
   align-items: center;
   /*justify-content: center;*/
   
}
.menu{
  background-color: cyan;
  height: 30px;
  width: 80px;
  margin: 5px;
  text-align: center;
  padding: 0px;
  line-height: 30px;
}
.body{
  display: flex;
  /*flex-direction: row;*/
}
#main{
  background-color: yellow;
  height: 500px;
  flex-grow: 3;
  margin-top: 50px;
}
#aside{
  background-color: green;
  height: 500px;
  flex-grow: 1;
  margin-top: 50px;
}